<div class="forin">
<div class="forinblock">
<div class="forintitle">Новые темы форума</div>
<div class="forincontent">
{% for theme in themes %}
<div class="matlist">
<span class="matdate" title="Количество просмотров">{{ theme.views }}</span>
<span class="matlinks"><a href="{{ theme.url }}" title="{{ theme.title }}">{{ theme.title }}</a></span>
</div>
{% endfor %}
</div>
</div>
<div class="forinblock">
<div class="forintitle">Обсуждаемые темы форума</div>
<div class="forincontent">
{% for post in posts %}
<div class="matlist">
<span class="matdate" title="Количество ответов">{{ post.posts }}</span>
<span class="matlinks"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></span>
</div>
{% endfor %}
</div>
</div>
</div>